// Colors
$primary-gray: #E6E6E6;
$secondary-gray: #F2F2F2;

$primary-active: #4BBD95;
$secondary-active: #C8EADE;

$primary-active-blue: #2498F3;
$secondary-active-blue: #9ED2FA;

$white: #FFFFFF;
$black: #1C1C1C;
$brown: #a68a6f;

// Breakpoints - Responsiveness
$mobile: '480px';
$tablet: '768px';
$laptop: '1024px';
$large-screen: '1200px';
